			body{
				font-family:'Comic Sans MS', cursive;
			}
			a{
				font-size: 15px;
			}		
		
			h1, h2, h3, h4, h5, h6 {
				font-weight: bold !important;
			}
			h1{
				text-align:center;
				font-size: 30px;
			}
			h3{
				text-align:center;
				font-size: 15px;
			}
			
			p{
				text-align:center;
				font-size: 15px;
			}